spring:
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5433/bookdb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: update   # apenas valida/atualiza schema
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        generate_statistics: true


  redis:
    host: localhost
    port: 6379
api:
  security:
    token:
      secret: ${JWT_SECRET:dd2e2add61a0cce0eb2bfb9c2d812515}
      access-expiration-hours: 1
      refresh-expiration-days: 7

app:
  admin:
    email: ${ADMIN_EMAIL:SCARLXRD@teste.com}
    password: ${ADMIN_PASSWORD:1234569999}

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: 'health,prometheus'
  endpoint:
    health:
      enabled: true
      show-details: always
    prometheus:
      enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

logging:
  level:
    org.springdoc: TRACE
    org.springframework.web: DEBUG
    org.springframework.context: DEBUG

