apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db-book
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-book
  template:
    metadata:
      labels:
        app: book-app
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "root"
            - name: POSTGRES_DB
              value: "bookdb"
          ports:
            - containerPort: 5432
